/* Universal  */
* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    background-color: #f0f2f5;
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}



/* Container */
.container {
    display: block;
    width: 100%;
}


/* Logo */
.logo {
    margin-top: 130px;
    text-align: center;
}
h2 {
    color: #1877f2;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: -5px;
}
.logo p {
    font-size: 20px;
    text-align: center;
    font-weight: 100;
}


/* Reg Form */
#form-container {
    text-align: center;
    width: 100%;
}
.reg-form {
    background-color: #fff;
    margin-top: 100px;
    padding: 30px 15px 10px;
    border-radius: 5px;
}
.reg-form form {
    text-align: center;
}
.reg-form input {
    width: 100%;
    height: 45px;
    padding: 2px 10px;
    margin: 8px 0;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid grey;
}
.reg-form input:focus {
    outline: none;
    border: 2px solid #2e86fa;
}


/* Login Button */
.reg-form .login {
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 100%;
    height: 45px;
    background-color: #1877f2;
    margin: 8px 0;
    border: none;
    font-size: 15px;
}
.reg-form .login a {
    color: white;
}
#forgotP a:hover {
    text-decoration: underline;
}
hr {
    display: none;
}
#forgotP a {
    margin: 8px 0;
    color: #2e86fa;
}
#smallscreen-hr {
    display: block;
    text-align: center;
    border-bottom: 1px solid grey;
    line-height: 0.1em;
    margin: 20px 0 10px;
    color: grey;
}
#smallscreen-hr span {
    padding: 0 15px 0 10px;
    background: #fff;
}

#smallscreen-br {
    display: block;
}
/* Create Acc Button */
.reg-form .createAcc {
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 8px 0;
    border: none;
    background-color: rgb(28, 179, 28);
    width: 60%;
    height: 45px;
    font-size: 15px;
}
.reg-form .createAcc a {
    color: white;
}

/* Sub Reg Form */
.createPG {
    margin-top: 30px;
    color: black;
}
.createPG a:hover {
    text-decoration: underline;
}



/* Buttom Links */
.buttom-links {
    margin-top: 80px;
    background-color: #fff;
    width: 100%;
    padding-bottom: 50px;
}
.buttom-links a:hover {
    text-decoration: underline;
}

/* Language */
.lang {
    margin-left: 10%;
    padding-top: 30px;
    margin-right: 10%;
    text-align: center;
}
.lang a {
    font-size: 13px;
    padding-right: 7px;
    color: grey;
}
#plusbtn {
    width:40px;
    height: 25px;
    color: grey;
}
#plusbtn span {
    font-size: 20px;
    text-align: center;
    margin-top: -5px;
}
#buttom-link {
    margin-left: 10%;
    margin-right: 10%;

}


/* Extra Links */
.links {
    display: none;
}


/* Meta */
.meta {
    text-align: center;
    font-size: 12px;
    color: grey;
}